<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<!-- 日志打印 -->
	<bean id="outLoggingInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor" />


	<!-- 例子 -->
	<!--<bean id="helloWorldBean" class="com.app.webservice.impl.HelloWorldServiceImpl" />-->

	<!--<jaxws:server id="helloWorldService" serviceClass="com.app.webservice.HelloWorldService" address="/helloWorldService">-->
		<!--<jaxws:serviceBean>-->
			<!--<ref bean="helloWorldBean" />&lt;!&ndash; 要暴露的 bean 的引用 &ndash;&gt;-->
		<!--</jaxws:serviceBean>-->
		<!--<jaxws:outInterceptors>-->
			<!--<ref bean="outLoggingInterceptor" />-->
		<!--</jaxws:outInterceptors>-->
	<!--</jaxws:server>-->

<!--客户端  -->
<!--    <bean id="client" class="org.tempuri.IHoYaVideoWCFService" factory-bean="clientFactory" factory-method="create"/>
    <bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
          <property name="serviceClass" value="org.tempuri.IHoYaVideoWCFService"/>
          <property name="address" value="http://192.168.50.24:7000/HoYaVideoWCFService"/>
    </bean>-->

</beans>
